include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include account2 *.css
recursive-include account2 *.csv
recursive-include account2 *.html
recursive-include account2 *.ico
recursive-include account2 *.js
recursive-include account2 *.json
recursive-include account2 *.md
recursive-include account2 *.png
recursive-include account2 *.py
recursive-include account2 *.svg
recursive-include account2 *.txt
recursive-exclude account2 *.pyc